body{
  margin: 0;
  padding: 0;
}

.FirstSection{
  background: #aaa;
  width: 80vw;
  height: 80vh;
  display: block;
}

.your-class{
  display: flex;
}

.your-class .items{

  width: 30vw;
  height: 250px;
  margin: 50px;
  position: relative;
}

.your-class .items .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 250px;
  background: rgba(0, 0, 0, 0.64);
}

.your-class .slick-center .overlay{
  opacity: 0;
}

.your-class .items img{
  width: 350px;
  height: 250px;
  transition: all linear .4s;
}

.your-class .slick-center img{
  transform: scale(1.5);
}

.weather-container{
  background: #ccc;
  text-align: center;
  align-items: center;
  width: 15vw;
  margin-right: 5vw;
  display: inline-block;
}
.icon{
  width: 10vw;
}
.city{
  font-size: 45px;
  margin: 0;
}

.weather{
  font-size: 22px;
  margin: 0;
}

.temp{
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}

.covid-container{
  background: #ccc;
  text-align: center;
  align-items: center;
  width: 15vw;
  margin-right: 5vw;
  display: inline-block;
}

.TotalCovid{
  font-size: 22px;
  margin: 0;
}

.countryCovid{
  font-size: 45px;
  margin: 0;
}

.DateCovid{
  font-size: 22px;
  margin: 0;
}

.CaseCovid{
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}

.stock-container{
  background: #ccc;
  text-align: center;
  align-items: center;
  width: 15vw;
  margin-right: 5vw;
  display: inline-block;
  font-size: 22px;
  margin: 0;
}
