<!-- _includes/certification_item.html -->
<div class="certification-item">
  <a href="{{ include.url }}" target="_blank">
    <!-- Changed from 'img_src' with filter to 'img_path' without filter -->
    <img src="{{ include.img_path }}" alt="{{ include.alt_text }}" class="badge-img" />
  </a>
  <div class="certification-details">
    <p><strong>Certification ID:</strong> <span>{{ include.cert_id }}</span></p>
    <p><strong>Issued:</strong> <span>{{ include.issued }}</span></p>
    <p><strong>Expires:</strong> <span>{{ include.expires }}</span></p>
  </div>
</div>