

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #C6E9FF;
  color: Black;
}

.topnav{
  width: 100%;
  overflow: hidden;
background-color: #333;

}

body{
  margin: 0;
}
.dropdown2 {
 float: left;
 overflow: hidden;
}

.dropdown2 .dropbtn2 {
 font-size: 17px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.dropdown-content2 {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}
.dropdown-content2 a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content2 a:hover {
 background-color: #ddd;
 color: black;
}

.dropdown2:hover .dropdown-content2 {
 display: block;
}

 .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.afterNav{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0vh;
}

.afterNav section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;

}

.afterNav section .Content {
    text-align: center;

}
.check{
    position: relative;
    width: 50px;
}

.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:checked:before{
    background: #00a1ff;
}

.check:after{
    content: '';
    position: absolute;
    left: 0px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;
}

.check:checked ~ .content2.contentEnglish {
    display: none;
}

.check:checked ~ .content2.contentFrench {
    display: block;
}


.en{
  color: #333;
}

.fr{
  color: #00a1ff;
}

.afterNav section .Content h2{
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.afterNav section .Content h3{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.5em;
}

.content2{
    display: none;
    margin-top: 10px;
}

.content2.contentEnglish {
    display: block;
}

.afterNav section .Content .content2.contentEnglish p{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: justify;
    color: #333;
}

.afterNav section .Content .content2.contentEnglish h3{
    color: #333;
    font-size: 2vw;
    text-transform: none;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 2vh;
}



.afterNav section .Content .content2.contentFrench p{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: justify;
    color: #00a1ff;
}

.afterNav section .Content .content2.contentFrench h3{
    color: #333;
    font-size: 2vw;
    text-transform: none;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 2vh;
}

#more{
  display: none;
}

#more1{
  display: none;
}

#more2{
  display: none;
}
#more3{
  display: none;
}

#more4{
  display: none;
}

#more5{
  display: none;
}

.afterNav section .Content .content2.contentFrench h3{
    color: #00a1ff;
}

#RMBtn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 3vh;

}

#LPBtn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 3vh;

}

#RMBtn1{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 3vh;

}

#LPBtn1{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 3vh;

}

#RMBtn2{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 3vh;

}

#LPBtn2{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 3vh;

}
