.CardsUI {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 93vh;
  background: #010615;
  vertical-align: center;
}

.CardsUI .box{
  position: relative;
  width: 19.53125vw;
  height: 39.787798408488065vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5.3vh 5.6vw;
  background: #060c21;
  transition: 0.5s;

}

.CardsUI .box:hover{
  height: 53.05039787798408vh;
}

.CardsUI .box .imgbox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.3262599469496021vh 0.6510416666666666vw;
  box-sizing: border-box;
}

.CardsUI .box .imgbox img{
  position: relative;
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;

}

.CardsUI .box:hover .imgbox img{
  opacity: 1;
}

.CardsUI .box:before {
  content: '';
  position: absolute;
  top: -0.26525198938992045vh;
  left: -0.13020833333333334vw;
  right: -0.13020833333333334vw;
  bottom: -0.26525198938992045vh;
  background: #fff;
  z-index: -1;
}

.CardsUI .box:after {
  content: '';
  position: absolute;
  top: -0.26525198938992045vh;
  left: -0.13020833333333334vw;
  right: -0.13020833333333334vw;
  bottom: -0.26525198938992045vh;
  background: #fff;
  z-index: -1;

}

.CardsUI .box .boxcontent{
  position: absolute;
  top: 11.936339522546419vh;
  left: 0.6510416666666666vw;
  right: 0.6510416666666666vw;
  bottom: 1.3262599469496021vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.CardsUI .box:hover .boxcontent{
  opacity: 1;
}

.CardsUI .box .boxcontent h2{
  font-size: 2vw;
  color:#fff;
  font-weight: 500;
  margin-top: 20vh;
  line-height: 2.6525198938992043vh;
  letter-spacing:0.06510416666666667vw;
}
